<h1>Edit Owner</h1>

<form action="/owners/<%= @owner.id %>/update" method="post">

  <label for="name-field">Name:</label>
  <input id="" type="text" name="name" value="<%= @owner.name %>"/>

  <input class="btn" type='submit' value="Update">

</form>