<h1>New Owner</h1>

<form action="/owners/save" method="post">

  <label for="name-field">Name:</label>
  <input id="" type="text" name="name"/>
  
  <input class="" type='submit' value="Add">

</form>