<h1>Owner</h1>

<hr>

  <p>
    Name: <%= @owner.name %><br>
    Animals:
    <% for animal in @animals %>
      <% if animal.owner_id.to_i == @owner.id %>
        <a href="/animals/<%= animal.id %>"><%= animal.name %></a> 
      <% end %>
    <% end %>
  </p>

<hr>