<h1>Owner</h1>

<form action="/owners/new" method="get">
  <input class="" type="submit" value="Add" />
</form>  
<form action="/owners/delete_all" method="post">
  <input class="" type="submit" value="Delete All" />
</form> 

<hr>

  <p>
    Name: <%= @owner.name %><br>
    Animals:
    <% for animal in @animals %>
      <% if animal.owner_id.to_i == @owner.id %>
        <a href="/animals/<%= animal.id %>"><%= animal.name %></a> 
      <% end %>
    <% end %>
  </p>

<br>

<form action="/owners/new" method="get">
  <input class="" type="submit" value="Add" />
</form>  
<form action="/owners/delete_all" method="post">
  <input class="" type="submit" value="Delete All" />
</form> 